$secondry-color:#FF4081;

.grid-container{
	text-align: center;
}

.header{
	margin: 10px;
}

.grid{
	padding:0px;
	text-align: left;
}

.empty-note{
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
}

.plus-sign{
	font-weight: bold;
	font-size: 40px;
	color: $secondry-color;
}