$total-width : 400;
$image-width : 128;
$image-height : 128;
$light-color : #D4D4D4;

%overflow{
	white-space: nowrap;
    width: $total-width - $image-width - 50;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact-item{
	display: inline-block;
	width: $total-width;
	overflow: hidden;
	margin: 10px;
	text-align: left;

	.delete-button{
		float: right;
		padding: 0;
	}

	.image{
		border: 1px solid $light-color;
		width: $image-width;
		height: $image-height;
		float: left;
		display:inline-block;
		//background-image: url('https://scontent.xx.fbcdn.net/hprofile-xla1/v/t1.0-1/c94.0.320.320/p320x320/1379841_10150004552801901_469209496895221757_n.jpg?oh=f578646d6b6a8c62f42800c4ba176abc&oe=5709E3A7');
		background-image: url('https://scontent.xx.fbcdn.net/hprofile-xfa1/v/t1.0-1/c94.0.320.320/p320x320/10354686_10150004552801856_220367501106153455_n.jpg?oh=e3e128c8e154e7009cf263abe1ea798d&oe=574873DE');
		background-size: contain;
	}

	.details{
		display:inline-block;
		padding-left: 10px;
		height: $image-height;
		position: relative;
	}

	.value{
	  @extend %overflow;
	}
	.name{
		text-transform: capitalize;
		margin: 0;
		@extend %overflow;
	}
	.title{
		color: $light-color;
	}
}
